.Rproj.user
.Rhistory
.RData
.Ruserdata
Model_diagnostics_Defense.R
Model_diagnostics_Reproduc.R
blup_conversation_ksr_defensetraits.pdf
Model_diagnostics_herbivores.R
Model_diagnostics_Growth.R
trait_correlations
correlations
old_exploration
Zenodo_KSR
2020_Herbivores
Qgen_firstyeartraits.Rmd